@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.calendarBottomText {
  text-anchor: middle;
  fill: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 300;
}

.calendarUpperBottomText {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.calendarTopTick {
  stroke: #e6e4e4;
}

.calendarTopText {
  text-anchor: middle;
  fill: #555;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: #F2F4F7;
}

.currentCadence {
  font-size: large;
  fill: red;
}